<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Funder Dome | Fund</title>
  <link rel="stylesheet" href="/funder_dome.css">
</head>
<body>
  <div id="nav">
    <div class="col-6 center">
      <a href="/"><span class="button">Home</span></a>
      <a href="/product.html"><span class="button">The Product</span></a>
      <a href="/fund.html"><span class="button">Fund it!</span></a>
    </div>
    <div class="col-6 center">
      <h1>Funder Dome</h1>
    </div>

  </div>
  <div class="container">
    <div class="col-6">
      <img src="/graph.png" alt="">
    </div>
    <div class="col-6">
      <h1>Funding!</h1>
      <p> Please crowd fund here:</p>
      <form class="fund-form" action="/" method="post">
          $<input type="text" name="" value="">
          <input class="button" type="submit" name="" value="submit">
      </form>
      <p> • <strong> $50 </strong> Bronze Funder</p>
      <p> • <strong> $200 </strong> Silver Funder</p>
      <p> • <strong> $1500 </strong> Gold Funder</p>
      <p> Your contribution will make a big impact on the realization of this product!</p>
    </div>
  </div>
</body>
</html>
