<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Funder Dome</title>
  <link rel="stylesheet" href="/funder_dome.css">
</head>
<body>
  <div id="nav">
    <div class="col-6 center">
      <a href="/"><span class="button">Home</span></a>
      <a href="/product.html"><span class="button">The Product</span></a>
      <a href="/fund.html"><span class="button">Fund it!</span></a>
    </div>
    <div class="col-6 center">
      <h1>Funder Dome</h1>
    </div>

  </div>
  <div class="container">
    <div class="col-6">
      <img src="/people.jpg" alt="">
    </div>
    <div class="col-6">
      <h1>Welcome!</h1>
      <p> Please check out all the cool new products by our innovative and creative audience.</p>
      <p> If you want to see a new product, click <a href="/product.html">the product</a> and explore the page!</p>
      <p> When you see a product you like you can <a href="/fund.html">fund it! </a> Soon the product will be a reality and you can enjoy it in your own home.</p>
    </div>
  </div>
</body>
</html>
