<form action="/subscribe" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="Email">
  <input type="text" pattern="[0-9]{5}" name="zipCode" placeholder="Zip Code">
  <input type="submit" name="submit">
</form>
