<div class="text-center">
  <form class="form-signin" action="/subscribers/create" method="POST">
    <h2 class="form-signin-heading">Subscribe here:</h2>

    <label for="inputName" class="sr-only">Name</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" autofocus>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" autofocus>

    <label for="inputZipCode" class="sr-only">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code">

    <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit</button>
  </form>
</div>
