<div class="data-form">
  <form class="form-signin" action="/courses/create" method="POST">
    <h2 class="form-signin-heading">Create a new course:</h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description">
    <label for="inputItems">Items</label>
    <input type="text" name="items" id="inputItems" class="form-control" placeholder="Items" required>
    <label for="inputZipCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code" required>
    <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>
