<div class="container">
  <h1>Chat</h1>
  <form id="chatForm">
    <input id="chat_input" type="text">
    <input class="btn btn-info" type="submit" value="Send">
  </form>
  <div id="chat"></div>
</div>
