<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recipe App</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/recipe_app.css">
</head>
<body>
  <div id="nav">
    <div class="col-6 center">
      <a href="/"><span class="button">Home</span></a>
      <a href="/courses"><span class="button">Cooking Courses</span></a>
      <a href="/contact"><span class="button">Contact</span></a>
    </div>
    <div class="col-6 center">
      <h1>Recipe App</h1>
    </div>
  </div>

  <%- body %>

</body>
</html>
