<div class="data-form">
  <form action="/users/login" method="POST">
    <h2>Login:</h2>
    <label for="inputEmail">Email address</label>
    <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
    <label for="inputPassword">Password</label>
    <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
