<h2>Subscribers Table</h2>
 <table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Email</th>
       <th>Zip Code</th>
       <th>Info</th>
     </tr>
   </thead>
   <tbody>
     <% subscribers.forEach((subscriber) => { %>
     <tr>
       <td><%= subscriber.name%></td>
       <td><%= subscriber.email%></td>
       <td><%= subscriber.zipCode%></td>
       <td><%= subscriber.getInfo()%></td>
     </tr>
     <% }); %>
   </tbody>
 </table>
