
<div class="container">
  <div class="col-6">
    <img src="images/fruit.jpg" alt="">
  </div>
  <div class="col-6">
    <h1>Welcome!</h1>
    <p> Please check out all the cool recipes!</p>
    <p> If you want to see a cooking course, click <a href="/courses.html">the courses page</a> and explore!</p>
    <p> You can <a href="/contact.html">subscribe here! </a> Soon you'll be cooking in your own home.</p>
  </div>
</div>
