<h2>Courses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(course => { %>
    <tr>
      <td>
        <a href="<%= `/courses/${course._id}` %>">
          <%= course.title %>
        </a>
      </td>
      <td>
        <%= course.description %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
