@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  margin: 0;
  padding-top: 130px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 110px;
  padding: 20px 0 5px 0;
  border-bottom: solid 8px #697acb;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}

#title {
  color: #625a56;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
}

.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #3d41b4;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-bottom: 2px;
}

.button:hover {
  background-color: #697acb;
}

.subscriber {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.subscriber p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #697acb;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}

.subscription-form input {
  display: block;
  margin: 5px;
}

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

.data-form label {
  margin: 5px 0 0 0;
}

.flash {
  background: rgba(103, 120, 209, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 110px;
  z-index: 2;
}

.error {
  background: rgba(209, 46, 42, 0.7);
}

button[type="submit"] {
  margin-top: 20px;
}

.login-status {
  position: absolute;
  right: 10px;
  top: 5px;
}

.log-out {
  position: absolute;
  right: 10px;
}

.login-status .bubble {
  padding: 10px;
  background: #c1ffc1;
  border-radius: 20px;
}

@media (max-width: 760px) {
  .login-status .bubble {
    overflow: hidden;
    white-space: nowrap;
    font-size: 2vw;
  }
}

#modal-button {
  background-color: #ffe7a2;
  color: #625956;
  border: 1px solid;
}

.modal-dialog {
  background: white;
  border-radius: 15px;
}

.modal-title {
  padding-top: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-family: "Baloo Bhaina";
  color: #625956;
  font-weight: 100;
}

.course-title {
  font-family: "Baloo Bhaina";
  padding: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  float: left;
}

.course-description {
  /* border-bottom: 1px solid #625956; */
  padding: 10px 10px 20px 10px;
  text-align: left;
  margin: 0 10px;
  clear: left;
}

.course-title::before {
  background-image: url("../images/icon.png");
  background-size: 20px 40px;
  display: inline-block;
  width: 20px;
  height: 40px;
  content: "";
}

.modal-body {
  padding: 15px 30px;
}

.join-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  border: 1px solid;
}

.joined-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  background-color: #c1ffc1;
  color: #625956;
  border: 1px solid;
}
