<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Funder Dome</title>
  <link rel="stylesheet" href="/funder_dome.css">
</head>
<body>
  <div id="nav">
    <div class="col-6 center">
      <a href="/"><span class="button">Home</span></a>
      <a href="/product.html"><span class="button">The Product</span></a>
      <a href="/fund.html"><span class="button">Fund it!</span></a>
    </div>
    <div class="col-6 center">
      <h1>Funder Dome</h1>
    </div>

  </div>
  <div class="container">
    <div class="col-6">
      <img src="/product.jpg" alt="">
    </div>
    <div class="col-6">
      <h1 class="title">G12 Bluetooth Pillow Fluffer</h1>
      <h3 >The wireless helper</h3>
      <p> • 460 hours of battery on one charge</p>
      <p> • Fluffs your pillow from a up to 100 meters away</p>
      <p> • Mobile phone compatible</p>
      <p> • <a href="/fund.html">Fund it</a> today!</p>
    </div>
  </div>
</body>
</html>
