<div class="container">
  <div class="col-sm-6">
    <img src="/images/cat.jpg" alt="Error cat">
  </div>
  <div class="col-sm-6">
    <h1>Oops! Something went wrong, or the page you are looking for is not available.</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>
