<% if (currentUser) { %>
<h1>Chat</h1>
<form id="chatForm">
  <input id="chat-input" type="text">
  <input id="chat-user-id" type="hidden" value="<%= currentUser._id %>">
  <input id="chat-user-name" type="hidden" value="<%=currentUser.fullName %>">
  <input type="submit" value="Send">
</form>
<div id="chat"></div>
<% } %>
