<div class="container">
  <div class="col-sm-6">
    <img src="images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Reach out to us!</h1>
    <p>Enter your email if you're interested to learn more:</p>
    <form action="/contact" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="email">Email</label>
      <input type="email" name="email" value="">
      <br>
      <input class="button" type="submit" value="submit">
    </form>
    <p> We'll get back to you soon!</p>
  </div>
</div>
