<div class="container">
  <div class="col-sm-6">
    <img src="/images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Thank you for submitting!</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>
