<div class="text-center data-form">
  <form class="form-signin" action="/users/login" method="POST">
    <h2 class="form-signin-heading">Login:</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <br/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>