<div class="text-center">
  <form class="form-signin" action="/courses/create" method="POST">
    <h2 class="form-signin-heading">Create a new course:</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" autofocus>
    <label for="inputDescription" class="sr-only">Description</label>
    <textarea type="texta" name="description" id="inputDescription" class="form-control" placeholder="Description"></textarea>
    <label for="inputCost" class="sr-only">Cost</label>
    <input type="text" name="cost" id="inputCost" pattern="\d*" class="form-control" placeholder="Cost">
    <label for="inputMaxStudents" class="sr-only">Max Students</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" pattern="\d*" class="form-control" placeholder="Max Students">
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Create</button>
  </form>
</div>
