<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>
  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/graph.png" alt="" /></div>
      <div class="col-sm-6">
        <h1>Reach out to us!</h1>
        <p>Enter your email if you're interested to learn more:</p>
        <form class="contact-form" action="/" method="post">
          <input type="email" name="email" required />
          <input class="button" type="submit" value="submit" />
        </form>
        <p>We'll get back to you soon!</p>
      </div>
    </div>
  </body>
</html>
