<div class="col-sm-6">
  <img src="images/graph.png" alt="">
</div>
<div class="col-sm-6">
  <h1>Subscribe!</h1>
  <p>Enter your email if you're interested to learn more:</p>
  <form class="subscription-form" action="/subscribers/create" method="post">
    <input type="text" name="name" placeholder="Name" autofocus>
    <input type="text" name="email" placeholder="Email" required>
    <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}" required>
    <input type="submit" name="submit">
  </form>
</div>
