<h1 class="center">Subscriber Data for <%= subscriber.name %></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= subscriber.name %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= subscriber.email%>
    </td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td>
      <%= subscriber.zipCode%>
    </td>
  </tr>
</table>
